<div id="<%= dom_id course %>">
  <td>
    <%= course.course_name %>
  </td>

  <td>
    <%= course.current_status %>
  </td>

  <td>
    <a href="<%= course.course_url %>"><%= course.course_url %></a>
  </td>
</div>
